
.footer-ui{
width: 80%;
margin: 0 auto;
padding: 20px 0;
}
.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.footer-content-list{
    flex: 1;
    /* width: 30%; */
    /* background-color: blanchedalmond; */
    /* height: 240px; */
}
.footer-ttile{
    font-size: 24px;
}
.footer-copy{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}
.paddingBottom{
    padding-bottom: 20px;
}
.paddingBottom8{
    padding: 8px 0;
}
@media screen and (max-width:750px) {
    .footer-ui{
        width: 94%;
    }
    .footer-content{
    flex-direction: column;

}
.footer-content-list{
    width: 100%;
    /* height: 200px; */

}
}