.content-top {
    height: 600px;
    position: relative;
}

.p-d-20 {
    padding: 20px;
}

.h- {
    margin-top: 200px;

}

.h-l-f {
    text-align: left;
    font-size: 24px;
}

.content-top img {
    width: 100%;
    height: 600px;
}

.content-text {
    position: absolute;
    top: 160px;
    left: 10%;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

.login {
    position: absolute;
    top: 460px;
    right: 10%;
    width: 163px;
    margin: 0 auto;
    height: 58px;
    background: #282222;
    border: 1px solid #ECB930;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.login img {
    width: 27px;
    height: 27px;
}

.content-line {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;

}

.content-t1 {
    width: 30%;
}

.content-t1 img {
    width: 56px;
    height: 62px;
}

.height40 {
    height: 40px;
}

@media screen and (max-width:750px) {
    .content-top {
        height: 400px;
    }

    .content-top img {
        height: 400px;
    }

    .content-text {
        top: 100px;
        width: 90%;
        margin: 0 auto;

    }

    .login {
        position: absolute;
        top: 320px;
    }

    .login img {
        width: 27px;
        height: 27px;
    }

    .content-line {
        width: 94%;
    }

    .content-t1 {
        width: 100%;
    }

    .height40 {
        height: 68px;
        padding-top: 30px;
    }

    .fontSize24 {
        font-size: 18px;
    }
}

/* how-it-works */
.how-it-works {
    width: 80%;
    margin: 0 auto;
    height: 488px;
    /* background-color: #fff; */
    margin-bottom: 80px;
}

.how-works {
    padding: 20px 0;
    margin-bottom: 40px;
}

.how-works-left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.how-works-left {
    flex: 1;
    /* height: 400px; */
    /* background-color: #B98D5C; */

}

.how-works-right {
    flex: 1;
    /* height: 400px; */
    /* background-color:#282222; */
}

.lunbo-huozuo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.l-b- {
    width: 100%;
    height: auto;

}

.l-b-d {
    width: 130px;
    height: 100px;
    display: flex;
}

.how-works-left-top {
    /* height: 200px; */
    /* background-color: #ccc; */
}



.how-works-righ-img {
    height: 300px;
    width: 100%;
}

.h-200 {
    height: 200px;
}

.h-531 { 
    height: 531px;
    border-radius: 7px;
    width: 100%; 
    cursor: pointer;
    position: relative;
}
.back30{
    background-color: #303030;

}

.cp:hover ,.h-531:hover {
    border: 2px solid #ECB930;
}

.h-c0lor { 
    margin: 0 10px;
}

.font-20 {
    font-size: 20px;
}

.right-jian-tou {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.right-jian-tou-r{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.right-jian-tou img {
    width: 47px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.right-jian-tou- img{
    width: 47px;

}

@media screen and (max-width:750px) {
    .how-works-left-right {
        flex-direction: column;
    }

    .how-it-works {
        width: 94%;
        margin-bottom: 450px;
    }

    .displaySpacebetween {
        justify-content: space-between;
    }

    .h-l-f {
        font-size: 13px;
    }

    .h- {
        margin-top: 64px;
    }
    .h-531 {
        height: 385px;
    }
    .h-c0lor {
        margin: 20px 10px;
    }
}
 
