.content-top {
    position: relative;
}

.p-d-20 {
    padding: 20px;
}

.h- {
    margin-top: 100px;

}

.h-l-f {
    text-align: left;
    font-size: 20px;
}



.content-text {
    position: absolute;
    top: 160px;
    left: 0%;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

.login {

    width: 163px;
    margin: 0 auto;
    height: 58px;
    background: #282222;
    border: 1px solid #ECB930;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.login img {
    width: 27px;
    height: 27px;
}

.content-line {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;

}

.content-t1 {
    width: 30%;
}

.content-t1 img {
    width: 56px;
    height: 62px;
}

.height40 {
    height: 40px;
}

.m-l10 {
    margin-left: 10px;
}

.m-r10 {
    margin-right: 10px;
}

.pt {
    position: relative;

}

.ps {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fontSize2422 {
    font-size: 42px;
    padding-top: 100px;
}

@media screen and (max-width:750px) {
    /* .content-top {
        height: 1000px;
    } */


    .content-text {
        top: 100px;
        width: 90%;
        margin: 0 auto;

    }



    .login img {
        width: 27px;
        height: 27px;
    }

    .content-line {
        width: 94%;
    }

    .content-t1 {
        width: 100%;
    }

    .height40 {
        height: 68px;
        padding-top: 30px;
    }

    .fontSize24 {
        font-size: 18px;
    }
}

/* how-it-works */
.how-it-works {
    width: 80%;
    margin: 0 auto;
    /* height: 488px; */
    /* background-color: #fff; */
    margin-bottom: 80px;
    /* margin-top: 112px; */
}

.how-works {
    padding: 20px 0;
    margin-bottom: 40px;
}

.how-works-left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.how-works-left {
    flex: 1;
    /* height: 400px; */
    /* background-color: #B98D5C; */

}

.how-works-right {
    flex: 1;
    /* height: 400px; */
    /* background-color:#282222; */
}

.lunbo-huozuo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.l-b- {
    width: 100%;
    height: auto;

}

.l-b-d {
    width: 130px;
    height: 100px;
    display: flex;
}

.how-works-left-top {
    /* height: 200px; */
    /* background-color: #ccc; */
}

.posir {
    position: relative;
    top: -20px;
}

.jbao {
    width: 104px;
    height: 50px;
}

.jiage {
    position: absolute;
    top: 7px;
    left: 25px;
}

.startvipstyle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.startvipstyle1 {
    flex: 1;
    height: 150px;
}
.hoverShow{
    box-shadow: 0 0 3px #8e8e8e;
    border-radius: 8px;
}

.h-130 {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.how-works-righ-img {
    height: 100%;
    width: 100%;
}

.h-200 {
    height: 200px;
}

.h-531 {
    height: 550px;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.back30 {
    background-color: #303030;

}

.cp:hover,
.h-531:hover {
    border: 2px solid #ECB930;
}

.h-c0lor {
    margin: 0 10px;
}

.font-20 {
    font-size: 20px;
}

.right-jian-tou {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-jian-tou-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.right-jian-tou img {
    width: 47px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.right-jian-tou- img {
    width: 47px;

}

.login-row-style-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-row-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.prelativeA {
    position: absolute;
    top: -20px;
    right: 3px;
    width: 61px;
}





/*头部开始*/
.bodyCon08 {
    background: none;
    
}

.bodyCon08 .students {
    margin: 0 auto;
    width: 1000px;
    height: 480px;
    position: relative;
}

.bodyCon08 .students p.PP {
    width: 510px;
    height: 50px;
    font-size: 16px;
    color: #333;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 300px;
}

#four_flash {
    position: relative;
    width: 1000px;
    height: 420px;
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
}

#four_flash .flashBg {
    width: 1000px;
    height: 420px;
    position: relative;
    overflow: hidden;
}

#four_flash .flashBg ul.mobile {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
}

#four_flash .flashBg ul.mobile li {
    box-shadow: 0 0 3px #8e8e8e;
    float: left;
    width: 280px;
    height: 340px;
    margin-left: 26px;
    padding-top: 40px;
    color: #8e8e8e;
}

#four_flash .flashBg ul.mobile li:hover {
    box-shadow: 0 0 5px #8e8e8e;
    color: #8e8e8e;
}

#four_flash .flashBg ul.mobile li img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-radius: 40px;
}

#four_flash .flashBg ul.mobile li dd {
    font-size: 20px;
    width: 250px;
    line-height: 60px;
    text-align: center;
}

#four_flash .flashBg ul.mobile li p {
    font-size: 16px;
    text-align: center;
    width: 250px;
    line-height: 24px;
    margin-top: 10px;
}

#four_flash .flashBg ul.mobile li a {
    display: block;
    width: 31px;
    height: 31px;
    border: 0px;
    margin: 8px auto;
}

#four_flash .but_left {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 136px;
    left: 0px;
}

#four_flash .but_right {
    width: 50px;
    height: 100px;
    position: absolute;
    top: 136px;
    right: 0px;
}

/* #four_flash .but_left:hover {
    background: url(../img/qianxleft1.png) no-repeat;
}

#four_flash .but_right:hover {
    background: url(../img/qianxr1.png) no-repeat;
} */


/* login  */
.displayRow100 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    /* height: 500px; */
    /* background-color: #303030; */
    margin: 0 auto;
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    z-index: 9;
}

.bac500l,
.bac500r {
    width: 50%;
}

.displayRow500l {
    /* height: 500px; */
    /* background-color: #303030; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    /* justify-content: center; */
}

.displayRow500r {

    border-radius: 10px;
    /* height: 500px; */
    /* background-color: yellow; */
}

.b3030 {
    width: 426px;
    border-radius: 10px;

    background-color: #303030;
}

.m_t_100 {
    margin-top: 100px;
}

.textCenter {
    text-align: center
}

.p_10_ {
    padding-left: 10px;
}

.paddingAll {
    padding: .2rem;
}

.w-20-301 {
    width: 20px !important;
    height: 20px !important;
}

.logs-register1 {
    width: 54%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 20px;
}

#s1,
.form-control1 {
    outline: none;
    border: none;

    height: auto;
}

.content-top-add {
    height: 800px;
    position: relative;
}

.w_h_auto {
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-t-right {
    justify-content: center;
    align-items: center;
}

.contentImgheight {
    height: 600px;
}

.contentImgheight800 {
    height: 800px;

}

.rightImgsShow {
    display: block;
}

.fontSizeZHI {
    font-size: 24px;
    margin-bottom: 20px;
}
.mt100{
    margin-top: 100px;
}

@media screen and (max-width:750px) {
    .mt100{
        margin-top: 20px;
    }
    .how-works-left-right {
        flex-direction: column;
    }

    .how-it-works {
        width: 94%;
        margin-top: 0px;
    }

    .displaySpacebetween {
        justify-content: space-between;
        flex-direction: column;
    }

    .h-l-f {
        font-size: 13px;
    }

    .h- {
        margin-top: 64px;
    }

    .h-531 {
        height: 485px;
    }

    .h-c0lor {
        margin: 20px 10px;
    }

    .h-200 {
        height: 100px;
    }

    .displayRow500l {
        display: initial;
        padding-top: 10px;
        flex-direction: initial;
    }

    .fontSize2422 {
        font-size: 24px;
    padding-top: 10px;

    }

    .rightImgsShow {
        display: none;
    }

    .displayRow100 {
        flex-direction: column;
        height: 1000px;
        width: auto;
    }

    .displayRow100 {
        width: auto;

    }

    .textCenter {
        text-align: inherit;
        word-break: break-all;
        font-size: 1.2rem;
        padding-left: 10px;
    }

    .m_t_100 {
        margin-top: 1rem;
    }

    .bac500l {
        height: 9%;
    }

    .b3030 {
        width: 84%;
    }

    .bac500r {
        height: 80%;
        width: 100%;


    }

    .contentImgheight {
        height: 300px;
    }

    .w_h_auto {
        width: 100%;
    }

    .bac500l,
    .bac500r {
        width: 100%;
    }

    .fontSizeZHI {
        font-size: 13px;
    }
}