body,
.content-t-register {
    background-color: #fff;
}

.loginbackgroundColor_1 {
    /* background-color: #ccc; */
    color: #000;
    font-size: 14px;
    width: 100%;
}

.content-t-rigis {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-t-right {
    width: 60%;
    margin: 0 auto;
}

.left__ {
    height: 80%;
    width: 1px;
    background-color: #333;

}

.Holder_Name_color {
    color: #e4393c;
}

.content-t-t {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-t-right-list-register {
    margin-bottom: 10px;
    padding-left: 0px!important;
}

.monly_total {
    width: 100%;
    margin: 0 auto;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #333;
    margin-bottom: 20px;

}
.p-t-b-rigist-500 {
    padding: 20px 0 50px 0;
    width: 700px;
    margin: 0 auto;}
.Holder_Name {
    font-size: 15px; 
    text-indent: 10px;
}
.title_pay{
    font-weight: bold;
    padding-left: 15px;
    margin: 15px 0;
}
.w_100 {
    width: 100%;
    color: #333;
    margin-right: 10px;
 
}

input:-webkit-autofill,
select:-webkit-autofill {
    color: #000;
    background-color: #f5f5f5;
}

.content-t-right-list-register {

    height: 70px !important;
    width: 700px;
}

.form-control_1 {
    /* width: 100%; */
    font-weight: bold;
    text-indent: 10px;
    background: #f5f5f5;
    padding: 15px 0;
    border-radius: 4px;
    border: none;
    outline: none;
}
@media screen and (max-width:750px) {
    .content-t-rigis {
        display: flex;
        flex-direction: column;
    }

    .content-t-right {
        width: 100%;
    }

    .content-t-right-list-register {
        width: 97%; 
        margin-top: 10%!important;
    }
    .p-t-b-rigist-500 {
        padding: 20px 0 50px 0;
        width: 100%;
        margin: 0 auto;}

}